<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.seatmanagement.websocket</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/node</string>
        <string>/Users/sarahabane/ojt/seat-table-mngmnt/websocket-server.js</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/sarahabane/ojt/seat-table-mngmnt</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/sarahabane/ojt/seat-table-mngmnt/websocket.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/sarahabane/ojt/seat-table-mngmnt/websocket-error.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
